# Configuration SQL Server
SA_PASSWORD=<CHANGE_ME>

# Configuration JWT
JWT_SECRET_KEY=<CHANGE_ME>

# Configuration Redis
REDIS_PASSWORD=<CHANGE_ME>

# Autres configurations
ASPNETCORE_ENVIRONMENT=Production
